{% extends 'base.html' %}
{% block page_content %}
    {% if  session.get('email')%}
    <div>
        <h3>U are already IN</h3>
    </div>
    {% endif %}
    {% if not session.get('email') %}
    <div>
        <form action="/login" method="post">
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(size=20) }}
        {% if errors['email'] %}
            <div class="errors">{{ errors['email'] }}</div>
        {% endif %}
            <button type="submit">login</button>
        </form>
    </div>
    {% endif %}
{% endblock  %}