<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Document</title>
</head>
<body class="new_user">
    <h1 >New user</h1>
    <div>
        <form action="/users/new/ {{ user_id }}">
            <label for="" class="frame">
                <p>Nickname:</p>
                <input type="text" name="nickname">
            </label>
            <label for="" class="frame">Email: 
                <input type="text" name="email">
            </label>
            <label for="" class="btn">
                <button type="but">submit</button>
            </label>
        </form>
    </div>
</body>
</html>