<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Document</title>
</head>

<body class="new_user">
    {% extends 'base.html' %}
    {% block page_content %}
    <h1 >New user</h1>
    <div>
        <form action="/users", method='post'>

            {{ form.csrf_token }}
            {{ form.nickname.label }} {{ form.nickname(size=20) }}
            {% if errors['nickname'] %}
                <div class="errors">{{ errors['nickname'] }}</div>
            {% endif %}
            {{ form.csrf_token }}
            {{ form.email.label }} {{ form.email(size=20) }}
            {% if errors['email'] %}
                <div class="errors">{{ errors['email'] }}</div>
            {% endif %}
            <button type="submit">submit</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>