.names {
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

div.search {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: 94vw;
    height: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: gray;
}

.search input{
    height: 27px;
    width: 260px;
    border-radius: 5px;
    border-color:#b8c2ca;
    margin-right: 10px;
    margin-top: 10px;
    border-width: 1px
}

.search input:visited,
.search input:focus,
.search input:hover{
    border-color:#2196f3;
    border-width: 3px
}


.search button{
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border-color:#b8c2ca;
    background-color: aliceblue;
    border-width: 1px;
}

.search button:hover{
    background-color: rgb(226, 237, 247);
}

body.new_user h1 {
    margin-top: 10px;
    font-size: 60px;
    border-bottom-style: solid;
    border-bottom-color: #b8c2ca;
    /* border-bottom-width: 0.5px; */
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 50px;
}

.new_user div form label{
    display: inline;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}


.new_user div form input{
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 80px;
    border-color: #eaf2f9;
    border-width: 0.1px;
    border-radius: 5px;
    font-size: 15px;
}

.new_user form button:hover,
.new_user div form input:hover{
    border-color:#2196f3;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.new_user form button:focus,
.new_user div form input:focus{
    border:1px solid #2196f3;
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

.new_user form button {
    margin-left: 15px;
}

.new_user form button{
    display: block;
    margin-left: 30px;
    margin-top: 15px;
    padding: 7px 14px 7px 14px;
    border-radius: 5px;
    border:1px solid #dfe1e4;
}


.new_user form label p{
    display: inline-block;
}

.errors {
    color: red;
    font-size: 18px;

}

.success {
    width: 100%;
    margin-top: 30px;
    display: box;
    color: green;
    list-style-type: none;
    font-size: 30px;

}

h1 {
    font-size: 60px;
    padding-left: 30px;
}